/*Modified:

*/
/*Primary #0275d8
Success #5cb85c
Info #5bc0de
Warning #f0ad4e
Danger #d9534f
Inverse #292b2c
Faded #f7f7f7*/

body, html{
  width: 100%;
  height: 100%;
  margin:0;
  scroll-behavior: smooth;
}

/*Hide scrollbar for Chrome, Safari and Opera
Hide scrollbar for particular class where overflow has been shown
No needed if overflow: hidden; in this case it is "hidden" in body tag.
So not needed in this case. Can be eliminated. Optional.*/
html::-webkit-scrollbar {
  display: none;
}

body{
  margin: 0;
  padding: 0;
  background: #9b59b6;
  overflow: hidden;
}


/*Auto fits and auto-resize the image to parent component.*/
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

/*Onloading animation, hides the page while loading page.*/
#opening-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,1);
  display: block;
  z-index: 99999 !important;
}

/*Adding animation to onloading image*/
#opening-bg img{
  animation: heartbeat 2s infinite ease-in;
}

/*Creating heartbeat animation effect.*/
@keyframes heartbeat{
  0% {
    transform: scale(.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(.75);
  }
  100% {
    transform: scale(.75);
  }
}


/*These modal CSS adds prpperty to original bootstrap, means it updates that.*/
/*It is used for all modals. This property is generic.*/
/*This removes scrollbar of the modal and will include max height to 100%.*/
.modal{
  overflow-y: hidden !important;
  max-height: 100%;
  text-align: center;
  padding: 0 !important;
}

/*Sets the alignment and display to center.*/
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

/*Sets the modal dialog's alignment and display to center .*/
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*For spacing modal body and to make modal body content scrollable.*/
.modal-body {
  max-height: calc(100vh - 235px);
  overflow-y: auto;
}

/*Updating progess bar bootstrap class.*/
.progress{
  width: 175px;
  float: left;
  height: 24px;
  margin-top: 16px;
}

/*Designing custom button layout.*/
.btn-custom{
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/*For hollow button, with only borders.*/
.btn-outline{
  border-color: #4CAF50;
  color: green;
}

.btn-outline:hover{
  background-color: #4CAF50;
  color: white;
}

/*Styling for marquee, using jQuery marquee*/
.marquee{
  width: 200px;
  height: 100%;
  background: red;
  float: left;
  position: fixed;
  overflow: hidden;
  z-index: 0;
}

/*Make marrquee image 3x larger when hover on it.*/
.marquee img:hover{
  transform: scale(3.0);
}


/*.bubbels{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}*/

.bubble{
  position: fixed;
  bottom: -100px;
  background: red;
  /*#f1f1f1;*/
  border-radius: 50%;
  opacity: 0.5;
  animation: flying 10s infinite ease-in;
  /*Removing z-index so that stacking of the z-index
  appears with the natural orderding associated 
  with the auto flow of appearance of the elements.*/
  /*z-index: 1;*/
}


/*Controlling flying animation of element*/
@keyframes flying {
  0%{
    bottom: -100px;
    transform: translateX(0);
  }
  50%{
    transform: translateX(100px);
  }
  100%{
    bottom: 1080px;
    transform: translateX(-200px);
  }
}


/*Background flying heart animation*/
.heart {
  position: fixed;
  z-index: 1;
  opacity: 0.5;
  animation: flying 10s infinite ease-in;
}

/*Element shaping to heart*/
.heart::before, .heart::after {
  content: "";
  position: absolute;
  width: 53%;
  height: 95%;
  border-radius: 50% 50% 0 0;
  background: red;
}

.heart::before {
  left: 50%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}


/*Button for linking different sections of a page*/
.nav-arrow-button-bottom{
  height: 70px;
  width: 70px;
  bottom: 45px;
  right: 50px;
  margin-right: 20px;
  /*display: block;*/
  visibility: visible;
}

.nav-arrow-button-top{
  height: 40px;
  width: 40px;
  top: 15px;
  left: 180px;
  margin-left: 20px;
  /*display: none;*/
  visibility: hidden;
}

.nav-arrow-button-top, .nav-arrow-button-bottom{
  border-radius: 50%;
  position: fixed;
  background: blue;
  animation: 2s ease-in infinite jump-right;
  opacity: 1;
  z-index: 1;
}

.nav-arrow-button-bottom:hover{
  width: 100px;
  height: 100px;
}

.nav-arrow-button-top:hover{
  width: 60px;
  height: 60px;
}

.nav-arrow-img{
  padding: 13px;
}

/*Navigation button animation, moving left-right (horizontally).*/
@keyframes jump-right{
  0%{
    transform: translateX(0);
    background: green;
  }
  50%{
    transform: translateX(30px);
    background: red;
  }
  100%{
    transform: translateX(0px);
    background: yellow;
  }
}

/*Navigation button animation, moving up-down (vertically).*/
@keyframes jump-down{
  0%{
    transform: translateY(0);
    background: green;
  }
  50%{
    transform: translateY(30px);
    background: red;
  }
  100%{
    transform: translateY(0px);
    background: yellow;
  }
}


/*Scaling height & width of section for scrolling*/
.section{
  margin: 0;
  bottom: 0px;
  width: 200%;
  float: left;
  height: 100%;
  text-shadow: 1px 1px 2px #f0f0f0;
}

/*Dividing the section into two equal parts*/
.section-divide{
  margin: 0px;
  top: 0px;
  float: left;
  height: inherit;
  width: 50%;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/*Hide scrollbar for particular class where overflow has been shown*/
.section-divide::-webkit-scrollbar {
  display: none;
}

/*Spacing inner portion of divided section, */
/*so that marquee could be eliminated.*/
.section-divide-inner{
  margin-left: 200px;
  top: 0;
}

.background-image{
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
}


/*Effect of text fade-in and re-appears*/
.appear-disappear{
  animation: disappears 2s infinite ease-in;
}

/*Controlling disappear animation of element*/
@keyframes disappears {
  0%{
    opacity: 0; 
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.heading-s1-p1{
  margin-top: 100px;
  font-size: 70px;
  font-weight: italic bold;
  font-family: Comic Sans MS;
  text-align: center;
}

.content-s1-p1 {
  margin-top: 130px;
  padding: 45px;
  font-size: 30px;
  font-family: forte;
  color: #af3d00;
  text-align: justify;
}

.content-s2-p1{
  position: relative;
  margin: 10px;
  padding: 45px;
  font-size: 30px;
  font-family: forte;
  color: blue;
  text-align: justify;
}

/*Sets the position etc. of vedio.*/
#myvedio{
  width: 600px;
  /*height: 657px;*/
  padding-left: 30px;
  margin-bottom: 20px;
  float: right;
}

/*Displays collage image (CSS for one image).*/
.collage-image{
  width: 46px;
  height: 46px;
  float: left;
  object-fit: fill;
}

/*Creating box for enlarged image in collage.*/
#collage-pop{
  width: 789px;
  height: 653px;
  margin-top: 26px;
  margin-left: 253px;
  display: none;
  position: absolute;
  box-shadow: 10px 14px 18px 9px #d6cec2, -10px -6px 30px 0px rgba(0, 0, 0, 0.19);
}

.pop-up-image{
  object-fit: fill;
}

.pop-up-vedio{
  height: 100%;
  width: 100%;
}




/*Over-writing bootstrap corousel property.*/
.carousel{
  border-radius: 25px 25px 25px 25px; 
  overflow: hidden;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

/*Fixing the bootstrap corousel height, i.e. won't depend dynamically
on content's height and width.*/
.carousel .item {
    height: 440px;
    max-height: 440px;
    overflow: auto;
    margin: 0 110px;
}

/*Hiding corousel scrollbars, if content inside is scrollable.*/
/*Hide scrollbar for particular class where overflow has been shown*/
/*No needed if overflow: hidden; in this case, it is "auto".*/
.carousel .item::-webkit-scrollbar {
  display: none;
}

/*Rectangle box for heading*/
.heading-s4-p1{
  width: 700px;
  height: 135px;
  margin-top: 35px;
  background-color: rgb(224 224 224);
  position: relative;
}

/*Square box for arrow shape in heading*/
.heading-s4-p1-square{
  width: 95.45px;
  height: 95.45px;
  margin-left: 653px;
  margin-top: 20px;
  transform: rotate(45deg);
  background-color: inherit;
  position: absolute;
}

/*Font styling for heading.*/
.s-4-1-font-1{
  font: italic bold 85px Comic Sans MS;
  margin-left: 40px;
  color: #86105d;
}

/*Content styling.*/
.content-s4-p1{
  position: relative;
  text-align: justify;
  margin: 80px 25px 0 25px;
}

/*Creating outlaying box of form of each field.*/
.form-box{
  width: auto;
  height: auto;
  background-color: #ffe6;
  margin: 25px 60px 0 60px;
  border-radius: 25px 25px 25px 25px;
  position: relative;
}

/*Styling label of each form's entry.*/
.form-label{
  padding: 20px 0 12px 35px;
  font: normal 21px Comic Sans MS;
}

/*Creating box of form's textarea*/
.form-textarea-container{
  padding: 0 0 12px 35px;
  width: 90%;
}

/*Changing textarea's inner color*/
.textarea-color{
  background-color: #ffcc !important;
}

/*Displaying the feedback message.*/
.feedback-success{
  display: none;
  color: #46a046;
  font: bold 15px Comic Sans MS;
  padding: 7px 0 0px 25px;
}
